body {
  line-height: 30px;
  font-size: 20px;
  font-family: sans-serif;
  padding: 25px 50px;
}

#main {
  text-align: center;
  background: black;
  color: white;
  padding: 10px;
}

.char-info {
  margin: 30px;
}

img {
  width: 200px;
}

a {
  color: #229be2;
}
a:hover {
  color: #22befe;
}

